body
{
	font-family: lucinda, sans serif;
	font-size: 1em;
	margin: 0px;
	padding: 0px;
}

a
{
	text-decoration: none;
}

ul
{
	list-style-type: none;
	/*list-style-image: url(images/tilde.gif);*/
	list-style-position: inside;
	margin: 5px 0px 10px 0px;
	padding: 0px 0px 0px 10px;
}

#leftside
{
	width: 100%;
	border-style: solid;
	border-color: #999999;
	border-width: 0px 1px 1px 0px;
}

#logo
{
	padding: 10px;
    width: 100%;
    text-align: center;
}

#navigation
{
	margin: 0px;
	padding: 5px 5px 5px 5px;
	background-color: #F0F0F0;
    border-style: solid;
    border-color: #999999;
    border-width: 1px 0px 0px 0px;

}

.pagescategory
{
	font-family: courier;
	font-size: 12px;
	font-weight: bold;
	font-style: none;
	color: #666666;
}

.eventscategory
{
	font-family: courier;
	font-size: 12px;
	font-weight: bold;
	font-style: none;
	color: #666666;
}

.articlescategory
{
	font-family: courier;
	font-size: 12px;
	font-weight: bold;
	font-style: none;
	color: #666666;
}

#contentarea
{
	width: 100%;
	margin: 5px 0px 0px 10px;
    padding: 10px 5px 0px 0px;
	border-style: solid;
	border-color: #999999;
	border-width: 1px 0px 0px 0px;
}

#contentarea table
{
    width: 100%;
}    

#footer
{

}

.greeting
{
	font-weight: bold;
	color: maroon;
}

@media only screen and (min-width: 768px) {

    body
    {
        font-size: 14px;
    }

    #leftside
    {
        /*position: fixed;*/
        float: left;
        width: 330px;
        height: 100%;
    }

    #logo
    {
        float: left;
        width: 330px;
        border-style: solid;
        border-color: #999999;
        border-width: 0px 1px 0px 0px;
        padding: 30px 0;
    }

    #navigation
    {
        height: 100%;
        padding: 10px 15px 10px 15px;
    }

    #contentarea
    {
        position: absolute;
        left: 340px;
        width: 450px;
        border-width: 0px 0px 0px 0px;
    }    

    #contentarea table
    {
        width: 350px;
    }    
}